*.pdb
*.obj
*.ilk
.tundra2.*
t2-output/*
flatc/
example-backend
example-backend.exe
http-bridge.obj
vs2013
vs2015
go/coverage.out
go/src/httpbridge/test-backend
go/src/httpbridge/test-backend.exe
coverage-report

